mat-card {
    width: 100%;
    align-items: center;
    
    mat-card-content {
        width: 95%;
        align-items: center;
        table {
            width: 100%;
            align-items: center;

            tr {
                align-items: center;
                text-align: center;
            }
            td {
                text-align: center;
                align-items: center;
                    float: right
            }
        }
    }
}

mat-form-field {
    width: 50%;
}

button {
    width: 45%; 
    margin-left: 20px;
}

:host ::ng-deep input {
    text-align: center !important;
    font-size: 30px !important;
}

:host ::ng-deep td {
    text-align: center !important;
    font-size: 30px !important;
    width: 100%;
}

td {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    padding-top: 10px;
}

:host ::ng-deep th {
    text-align: center !important;
    font-size: 30px !important;
    font-weight: bold !important;
}